[submodule "spynoza"]
	path = spynoza
	url = git@github.com:spinoza-centre/spynoza.git
	branch = 7t_hires
[submodule "fmriprep"]
	path = fmriprep
	url = git@github.com:Gilles86/fmriprep.git
[submodule "nighres"]
	path = nighres
	url = git@github.com:Gilles86/nighres.git
[submodule "pybids"]
	path = pybids
	url = git@github.com:Gilles86/pybids.git
[submodule "pymp2rage"]
	path = pymp2rage
	url = git@github.com:Gilles86/pymp2rage.git
[submodule "pycortex"]
	path = pycortex
	url = git@github.com:Gilles86/pycortex.git
